<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <servlet-class>com.slit.bus.admin.AdminDashboardServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AdminDashboardServlet</servlet-name>
    <url-pattern>/admin/dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CustomerBookingServlet</servlet-name>
    <servlet-class>com.slit.bus.customer.CustomerBookingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CustomerBookingServlet</servlet-name>
    <url-pattern>/customer/booking</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BusScheduleServlet</servlet-name>
    <servlet-class>com.slit.bus.BusScheduleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BusScheduleServlet</servlet-name>
    <url-pattern>/busOperator/schedule</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>PaymentProcessingServlet</servlet-name>
    <servlet-class>com.slit.bus.payment.PaymentProcessingServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PaymentProcessingServlet</servlet-name>
    <url-pattern>/payment/process</url-pattern>
  </servlet-mapping>

</web-app>
